/* 整体框架 */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: auto; /* 全局滚动 */
}

.main {
    width: 70%;
    margin: 0 auto; /* 左右自动居中 */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    /* overflow-y: auto; */
}

/* 左右位置 */
.content {
    width: calc(65% - 3px); /* 50%宽度减去空间 */
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* 允许内容滚动 */
}

.info {
    width: 15%;
    height: 100%;
    background-color: #e0e0e0;
    position: fixed;
    top: 0;
    left: calc(65%);
    padding: 50px 30px;
    /* overflow-y: auto; 允许内容滚动 */
}
/* 头像设置为圆形，其余部分透明 */

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* 半透明圆角矩形背景 */
.about {
    width: 100%;
    margin : 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(91, 211, 241, 0.5); 
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    color: white; /* 文字颜色为白色 */
}

.about p {
    margin: 3px 0;
}

.tag {
    /* width: 100%; */
    height: 25vh;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background-color: rgba(91, 211, 241, 0.5); 
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white; /* 文字颜色为白色 */
    flex-wrap: wrap; /* 允许自动换行 */
    gap: 7px; /* 标签之间的间距 */
}

.tag-item {
    /* width: 100%; */
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.tag-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333; /* 默认背景色 */
    border-radius: 20px; /* 默认形状为圆角矩形 */
    z-index: -1;
}

.tag-item:nth-child(1)::before {
    background-color: #ff6347; 
}

.tag-item:nth-child(2)::before {
    background-color: #00bfff; 
}

.tag-item:nth-child(3)::before {
    background-color: #3cebeb;
}

.tag-item:nth-child(4)::before {
    background-color: #65ddcd;
}

.tag-item:nth-child(5)::before {
    background-color: #d3f802;
}

/* 时光轴 */
a:line-item {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
}

.timeline {
    flex-shrink: 0;
    /* width: 100%; */
    height: 20%;
    border-radius: 13px;
    margin-top: 15px;
    padding: 20px;
    background: var(--project-item-bg-color, rgba(238, 232, 232, 0.685));
}
#line {
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding-left: 10px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#line li {
    list-style: none;
    position: relative;
    padding: 15px 0px 0px 15px;
    border-left: 2px solid #adbeff;
    border-radius: 0;
    scroll-snap-align: end;
    color: #82888a;
}

.line-item {
    width: 15px;
    height: 15px;
    border-radius: 22px;
    background-color: #8da1ff;
    border: 2px solid #fff;
    position: absolute;
    left: -9px;
    top: 50%;
}

#line li:first-child .line-item:first-child {
    background-color: #2ecc71;
    animation: line-item 1.8s ease infinite;
}
#line::-webkit-scrollbar {
   display: none;
}